.logo {
    height: 3rem;
    user-select: none;
}

.logo-img {
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 3.5rem;
    user-select: none;
}

.mobile-nav {
    background-color: #ffbc43 !important;
}

.about-us-container {
    height: 90vh;
}

.yellow-bg {
    background: #ffbc43;
}

.mission , .what-we-do {
    border-top: 0.2rem solid #ffbc43;
    border-radius: 2rem;
}
.about-us-heading , .mission-text, .what-we-do-text {
    height: 30vh;
}
  /* media queries */


/* @media only screen and (max-width: 1400px) {

  } */

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 991px) {
    .text-body-yellow {
    font-size: 1rem !important;
    }
    .text-body-blue {
    font-size: 1rem !important;
    }
}

@media only screen and (max-width: 767px) {

    .logo {
        display: none;
    }

    .text-heading-blue {
    font-size: 2rem !important;
    }

    .text-heading-yellow-small {
        color: #ffbc43 !important;
        font-size: 1.5rem !important;
        font-family: "Josefin Sans", sans-serif;
    }

    .text-heading-blue-small {
        color: #0c375c !important;
        font-size: 1.5rem !important;
        font-family: "Josefin Sans", sans-serif;
    }
    
    
    .about-us-heading { 
        height: fit-content;
        margin-top: 5vh;
    }

    .mission-text {
        height: fit-content;
    }

    .what-we-do-text {
        height: fit-content;
    }

}


@media only screen and (max-width: 575px) {
    .logo {
    background-position-x: 0rem;
    }

    .text-heading-blue {
        font-size: 1.5rem !important;
        }

        .text-heading-yellow-small {
            color: #ffbc43 !important;
            font-size: 1.1rem !important;
            font-family: "Josefin Sans", sans-serif;
        }
        
        .text-heading-blue-small {
            color: #0c375c !important;
            font-size: 1.1rem !important;
            font-family: "Josefin Sans", sans-serif;
        }

        
}