.post-job-heading , .worker-profile-heading , .form-control {
    color: #0C375C;
    font-family: "Josefin Sans" , sans-serif ;
}

h4 {
    color: #ffbc43;
    font-family: "Reem Kufi" , sans-serif ;
}

.logo {
    height: 3rem;
    user-select: none;
}

.logo-img {
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 3.5rem;
    user-select: none;
}

.mobile-nav {
    background-color: #ffbc43 !important;
}

.post-job-heading {
    background-color: #ffbc43;
    width: fit-content;
    
}

.job-description-input {
    resize: vertical;
}

.form-control {
    width: 80%;
    border: 0px;
    border-bottom: 0.2rem solid #ffbc43 !important;
    border-radius: 1rem;
}

.submit-btn-post-job {
    background: #ffbc43;
}

/* .worker-profile-content {
    background: #ffbc43;
} */

.profile-container {
    background: #ffbc43;
    height: 60%
}

.image-profile {
    width: 70%;
    border-radius: 50%;
}


/* media queries */

@media only screen and (max-width: 1400px) {
    .image-profile {
        width: 100%;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 1199px) {

    }

@media only screen and (max-width: 991px) {

    
}

@media only screen and (max-width: 767px) {

    .logo {
    display: none;
    }

    .image-profile {
        width: 50%;
        border-radius: 50%;
    }

    .profile-container {
        background: #ffbc43;
        height: 90%
    }
}

@media only screen and (max-width: 575px) {
    .form-control {
        width: 100%;
    }

    .image-profile {
        width: 20%;
        border-radius: 50%;
    }
    
}



