.logo {
    height: 3rem;
    user-select: none;
}

.logo-img {
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 3.5rem;
    user-select: none;
}

.mobile-nav {
    background-color: #ffbc43 !important;
}