.post-job-heading , .worker-profile-heading , .form-control {
    color: #0C375C;
    font-family: "Josefin Sans" , sans-serif ;
}

* {
    font-family: "Reem Kufi" , sans-serif;
    color: #0C375C;
}

h1 , h4 {
    color: #ffbc43;
    font-family: "Reem Kufi" , sans-serif !important ;
}

.logo {
    height: 3rem;
    user-select: none;
}

.logo-img {
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 3.5rem;
    user-select: none;
}

.mobile-nav {
    background-color: #ffbc43 !important;
}

.search-input {
    border: 0px;
    border-bottom: 0.2rem solid #ffbc43 !important;
    border-radius: 2rem !important;
}

.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
    }
.search-input::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    }
.search-input:-ms-input-placeholder { /* IE 10+ */
    text-align: center;
    }
.search-input:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    }

.search-bar-row {
    background-color: rgb(255, 255, 255);
}

.rides-cards {
    height: 250px;
}

.card {
    height: 250px;
    width: 80%;
    background:  url("/images/landing-page-sm.jpg");
    background-position: center;
    background-size: cover;
    border: 0px; 
    -webkit-box-shadow: 24px 20px 23px -12px rgba(0,0,0,0.59);
    -moz-box-shadow: 24px 20px 23px -12px rgba(0,0,0,0.59);
    box-shadow: 24px 20px 23px -12px rgba(0,0,0,0.59);
}

.hover-btn-submit {
    display: none;
}

.card:hover .hover-btn-submit {
    display: block;
}

/* media queries */

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1199px) {

    }

@media only screen and (max-width: 991px) {

    
}

@media only screen and (max-width: 767px) {

    .logo {
    display: none;
    }
}

@media only screen and (max-width: 575px) {
}



