<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/index.css" type="text/css" />
        <link rel="stylesheet" href="/css/about.css" type="text/css" />
        
    </head>
    <body>
            <!-- top nav-bar desktop -->
            <header>
                <div class="container-fluid header-nav">
                    <div class="row top">
                        <div class="col-md-4 col-0 logo"><a class="text-body-blue" href="/index.html"><img class="logo-img ms-5" src="/images/logo.svg" alt=""></a></div>
                        <div class=" col-12 col-md-8 mobile-nav ">
                            <ul class="list-inline mb-0 mt-2 text-center d-flex justify-content-evenly align-items-center">
                                <li class="list-inline-item me-2 d-inline-block text-body-blue"><a class="text-body-blue" href="/index.html">Home</a></li>
                                <li class="list-inline-item d-inline-block text-body-blue"><a class="text-body-blue" href="/Components/about.html">About Us</a></li>
                                <li class="list-inline-item d-inline-block text-body-blue"><a class="text-body-blue" href="/Components/sign-up.html">
                                    Sign Up</a>
                                </li>
                                <li class="list-inline-item d-inline-block text-body-blue"><a class="text-body-blue" href="/Components/our-story.html">
                                    Our Story
                                </a></li>
                            </ul>
                    </div>
                </div>
            </header>
            <div class="container-fluid about-us-container">
                <div class="row text-center about-us ">
                    <div class="col-md-1"></div>
                    <div class="col-4 col-md-3 mt-4 mt-md-0 d-flex align-items-center justify-content-center about-us-heading yellow-bg text-heading-blue">
                        Our Story
                    </div>
                    <div class="col-7 text-body-blue"></div>
                </div>
                <div class="row mission mt-5 mt-md-0 mb-2 mb-md-0">
                    <div class="col-md-1"></div>
                    <div class="col-4 col-md-3  d-flex align-items-center justify-content-center about-us-heading text-heading-blue-small yellow-bg mission-text">Origin</div>
                    <div class="col-7 text-body-blue ps-5 align-items-end my-md-auto mt-auto">
                        <p class="mb-0 mb-md-2 text-body-blue">Rozgaar Originated as an Idea in a supermarket. And then we started woking on it and here we are today.</p>
                        <p class="text-body-blue">Helping millions of people to find jobs and build their future.
                        </p>
                    </div>
                </div>
                <div class="row what-we-do mt-5 mt-md-0">
                    <div class="col-md-1"></div>
                    <div class="col-4 col-md-3 d-flex align-items-center justify-content-center about-us-heading text-heading-blue-small yellow-bg what-we-do-text">Present</div>
                    <div class="col-7 ps-5 my-md-auto mt-auto">
                        <p class="mb-0 mb-md-2 text-body-blue">Presently we are providing job for millions of people and providing vehicles at rent so you won't have to find it.</p>
                        <p class="text-body-blue">We strive to become better and better everyday. Provide your feedback if you encounter a problem.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>