<!DOCTYPE html>
<html>
    <head>
        <title>Post a Job</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/index.css" type="text/css" />
        <link rel="stylesheet" href="/css/post-job.css" type="text/css" />
        
    </head>
    <body>
            <!-- top nav-bar desktop -->
        <header>
            <div class="container-fluid mb-4 header-nav">
                <div class="row top">
                    <div class="col-md-4 col-0 logo"><a class="text-body-blue" href="/index.html"><img class="logo-img ms-5" src="/images/logo.svg" alt=""></a></div>
                    <div class=" col-12 col-md-8 mobile-nav ">
                        <ul class="list-inline mb-0 mt-2 text-center d-flex justify-content-evenly align-items-center">
                            <li class="list-inline-item me-2 d-inline-block text-body-blue"><a class="text-body-blue" href="/index.html">Home</a></li>
                            <li class="list-inline-item d-inline-block text-body-blue">About Us</li>
                            <li class="list-inline-item d-inline-block text-body-blue">Rent Rides</li>
                            <li class="list-inline-item d-inline-block text-body-blue">Our Story</li>
                        </ul>
                </div>
            </div>
        </header>
    </body>
</html>