<!DOCTYPE html>
<html>
    <head>
        <title>Rozgaar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/index.css" type="text/css" />
        <link rel="stylesheet" href="/css/work.css" type="text/css" />
        
    </head>
    <body>
        <div class="container-fluid landing-page">
            <!-- top nav-bar desktop -->
            <header>
                <div class="container-fluid mb-4 header-nav">
                    <div class="row top">
                        <div class="col-md-4 col-4 logo"></div>
                        <div class=" col-12 mobile-nav ">
                            <ul class="list-inline mb-0 mt-2 text-center d-flex justify-content-evenly align-items-center">
                                <li class="list-inline-item me-2 d-inline-block text-body-blue"><a class="text-body-blue" href="/index.html">Home</a></li>
                                <li class="list-inline-item d-inline-block text-body-blue">About Us</li>
                                <li class="list-inline-item d-inline-block text-body-blue">Rent Rides</li>
                                <li class="list-inline-item d-inline-block text-body-blue">Our Story</li>
                            </ul>
                    </div>
                </div>
            </header>
            <div class="row text-center choose-work text-heading-blue mb-2 ">
                <div class="col-12">Choose the work you Like</div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- labour work -->
            <div class="row text-start mb-2 labour-title text-heading-yellow-small">
                <div class="col-lg-2 col-2 p-0 d-flex align-items-center"><div class="heading-decoration"></div></div>
                <div class="col-lg-2 col-8">Labour</div>
                <div class="col-lg-2 col-2 p-0 d-flex align-items-center"><div class="heading-decoration"></div></div>
                <div class="col-lg-2 col-3 d-none d-lg-block"></div>
                <div class="col-lg-2 col-3 d-none d-lg-block"></div>
                <div class="col-lg-2 col-3 d-none d-lg-block"></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-2 col-md-3 col-2 carousel-left"></div>
                <div class="col-lg-2 col-md-3 col-8">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                </div>
                <div class="col-lg-2 col-md-3 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-2 carousel-right "></div>
            </div>

            <!-- 10th work -->
            <div class="row text-start mb-2 labour-title text-heading-yellow-small">
                <div class="col-lg-2 col-2 p-0 d-flex align-items-center"><div class="heading-decoration"></div></div>
                <div class="col-lg-2 col-8">Matric (10th)</div>
                <div class="col-lg-2 col-2 p-0 d-flex align-items-center"><div class="heading-decoration"></div></div>
                <div class="col-lg-2 col-3 d-none d-lg-block"></div>
                <div class="col-lg-2 col-3 d-none d-lg-block"></div>
                <div class="col-lg-2 col-3 d-none d-lg-block"></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-2 col-md-3 col-2 carousel-left"></div>
                <div class="col-lg-2 col-md-3 col-8">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                </div>
                <div class="col-lg-2 col-md-3 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-2 carousel-right "></div>
            </div>

            <!-- 12th work -->
            <div class="row text-start mb-2 labour-title text-heading-yellow-small">
                <div class="col-lg-2 col-2 p-0 d-flex align-items-center"><div class="heading-decoration"></div></div>
                <div class="col-lg-2 col-8">Higher Secondary (10+2)</div>
                <div class="col-lg-2 col-2 p-0 d-flex align-items-center"><div class="heading-decoration"></div></div>
                <div class="col-lg-2 col-3 d-none d-lg-block"></div>
                <div class="col-lg-2 col-3 d-none d-lg-block"></div>
                <div class="col-lg-2 col-3 d-none d-lg-block"></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-2 col-md-3 col-2 carousel-left"></div>
                <div class="col-lg-2 col-md-3 col-8">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                </div>
                <div class="col-lg-2 col-md-3 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-2 carousel-right "></div>
            </div>

            <!-- graduation work -->
            <div class="row text-start mb-2 labour-title text-heading-yellow-small">
                <div class="col-lg-2 col-2 p-0 d-flex align-items-center"><div class="heading-decoration"></div></div>
                <div class="col-lg-2 col-8">Graduation</div>
                <div class="col-lg-2 col-2 p-0 d-flex align-items-center"><div class="heading-decoration"></div></div>
                <div class="col-lg-2 col-2 d-none d-lg-block"></div>
                <div class="col-lg-2 col-2 d-none d-lg-block"></div>
                <div class="col-lg-2 col-2 d-none d-lg-block"></div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-2 col-md-3 col-2 carousel-left"></div>
                <div class="col-lg-2 col-md-3 col-8">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                </div>
                <div class="col-lg-2 col-md-3 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-2 carousel-right "></div>
            </div>
        </div>
    </body>
</html>